@model IEnumerable<Donde_Compro.Models.UsuarioPago>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<h1>Tipos de Pago</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tbUsuarioPago" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDePago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDePago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioPagoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioPagoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioPagoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbUsuarioPago').DataTable();
        });
    </script>
}

