@model IEnumerable<Donde_Compro.Models.Orden>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<h1>Ordenes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tbOrdenes" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaDeCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDeCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrdenId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrdenId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrdenId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbOrdenes').DataTable();
        });
    </script>
}
