@model IEnumerable<Donde_Compro.Models.ProductoCategoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<h1>Categorias</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tbProdCat" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#tbProdCat').DataTable();
            });
        </script>
}